.misproyectos {
    display:;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    justify-content: space-between;
    padding-top: 50px;
    width: 100vw;
    height: 800px;

.card {
    position: relative;
    width: 220px; height: 200px;
    perspective: 30rem;
    display: flex;
    border-radius: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    animation: gradient 15s ease infinite;
    .front, .back {
        position: absolute;
        width: 100%; height: 100%;
        transition: transform 1s;
        backface-visibility:hidden;
      }
      .front { 
        background-color: #66ccff;
        .tarjeta {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
      }
      .back { 
        background-color: rgba(107, 106, 104, 0.891); 
        transform: rotateY(180deg); 
        h5 {
            font-size: 20px;
            margin-bottom: 0px;
            color: white;
            text-align: center;
    
        }
        p {
            font-size: 17px;
            color: white;
            text-align: center;
            padding: 30px;
    
        }
      }
}
.card:hover .front{ transform: rotateY(180deg); }
.card:hover .back { transform: rotateY(360deg); }
}