html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e1b986;
  width: 100vw;
  height: 80px;
  -webkit-box-shadow: 0 4px 2px -2px gray;
          box-shadow: 0 4px 2px -2px gray;
}

.nav__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 70px;
  padding: 0;
  top: 5px;
  left: 40px;
}

.nav__items {
  position: relative;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: #e1b986;
  bottom: 0px;
}

.nav__items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  color: black;
  background-color: #e1b986;
  padding: 20px;
  opacity: 70%;
}

.nav__button {
  position: relative;
  top: 10px;
  right: 50px;
  width: 150px;
  height: 40px;
  display: inline;
  border-radius: 30px;
  padding-top: 20px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  opacity: 80%;
  text-decoration: none;
}

.nav__button:hover {
  background-color: rgba(255, 179, 0, 0.891);
  border: 2px solid #363434;
}

.portada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portada__textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

.portada__textos h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-size: 40px;
}

.portada__textos h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
}

.portada__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
}

.scrollicon {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 20px;
  right: 20px;
  max-inline-size: 100%;
  min-block-size: var(--tds-icon--size);
  min-inline-size: var(--tds-icon--size);
  overflow: hidden;
  -webkit-transition: color .33s ease;
  transition: color .33s ease;
}

.servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: whitesmoke;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  gap: 20px;
}

.servicios .titulos {
  position: flex;
  width: 100vw;
  height: 20px;
  text-align: center;
  padding-top: 50px;
}

.servicios .titulos h2 {
  font-size: 50px;
}

.servicios__fsd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid grey;
  border-radius: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 220px;
  height: 150px;
}

.servicios__fsd img {
  width: 100px;
  height: 100px;
}

.servicios__fsd h5 {
  font-size: 18px;
  margin-bottom: 0px;
}

.servicios__fsd p {
  font-size: 12px;
  text-align: center;
}

.servicios__uxdesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid grey;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 220px;
  height: 150px;
}

.servicios__uxdesign img {
  width: 100px;
  height: 100px;
}

.servicios__uxdesign h5 {
  font-size: 18px;
  margin-bottom: 0px;
}

.servicios__uxdesign p {
  font-size: 12px;
}

.servicios__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid grey;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 220px;
  height: 150px;
}

.servicios__video img {
  width: 100px;
  height: 100px;
}

.servicios__video h5 {
  font-size: 18px;
  margin-bottom: 0px;
}

.servicios__video p {
  font-size: 12px;
}

.servicios__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid grey;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 220px;
  height: 150px;
}

.servicios__account img {
  width: 100px;
  height: 100px;
}

.servicios__account h5 {
  font-size: 20px;
  margin-bottom: 0px;
}

.servicios__account p {
  font-size: 12px;
}

.misproyectos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: whitesmoke;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  width: 100vw;
  height: 800px;
  gap: 30px;
}

.misproyectos .titulos {
  position: flex;
  width: 100vw;
  height: 20px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.misproyectos .titulos h2 {
  font-size: 50px;
}

.misproyectos__proyecto1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid grey;
  border-radius: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 200px;
  height: 200px;
}

.misproyectos__proyecto1 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
  height: 100px;
}

.misproyectos__proyecto1 h5 {
  font-size: 20px;
}

.misproyectos__proyecto1 p {
  font-size: 16px;
}

.misproyectos__proyecto2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid grey;
  border-radius: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 200px;
  height: 200px;
}

.misproyectos__proyecto2 img {
  width: 100px;
  height: 100px;
}

.misproyectos__proyecto2 h5 {
  font-size: 20px;
}

.misproyectos__proyecto2 p {
  font-size: 16px;
}

.misproyectos__proyecto3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid grey;
  border-radius: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 200px;
  height: 200px;
}

.misproyectos__proyecto3 img {
  width: 100px;
  height: 100px;
}

.misproyectos__proyecto3 h5 {
  font-size: 20px;
}

.misproyectos__proyecto3 p {
  font-size: 16px;
}

.misproyectos__proyecto4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid grey;
  border-radius: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 200px;
  height: 200px;
}

.misproyectos__proyecto4 img {
  width: 100px;
  height: 100px;
}

.misproyectos__proyecto4 h5 {
  font-size: 20px;
}

.misproyectos__proyecto4 p {
  font-size: 16px;
}

.misproyectos__proyecto5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid grey;
  border-radius: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 200px;
  height: 200px;
}

.misproyectos__proyecto5 img {
  width: 100px;
  height: 100px;
}

.misproyectos__proyecto5 h5 {
  font-size: 20px;
}

.misproyectos__proyecto5 p {
  font-size: 16px;
}

.misproyectos__proyecto6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid grey;
  border-radius: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 200px;
  height: 200px;
}

.misproyectos__proyecto6 img {
  width: 100px;
  height: 100px;
}

.misproyectos__proyecto6 h5 {
  font-size: 20px;
}

.misproyectos__proyecto6 p {
  font-size: 16px;
}

.misproyectos__proyecto7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid grey;
  border-radius: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 200px;
  height: 200px;
}

.misproyectos__proyecto7 img {
  width: 100px;
  height: 100px;
}

.misproyectos__proyecto7 h5 {
  font-size: 20px;
}

.misproyectos__proyecto7 p {
  font-size: 16px;
}

.curriculum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: whitesmoke;
}

.curriculum .titulos {
  position: flex;
  width: 100vw;
  height: 20px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.curriculum .titulos h2 {
  font-size: 50px;
}

.curriculum .curriculum__boxcv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.curriculum .curriculum__boxcv .fotocurriculum {
  position: relative;
  display: inline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  background-color: whitesmoke;
  width: 50%;
}

.curriculum .curriculum__boxcv .fotocurriculum img {
  margin-left: 310px;
  margin-top: 25px;
  opacity: 80%;
}

.curriculum .curriculum__boxcv .textocurriculum {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: flex-start;
  background-color: white;
  font-size: 12px;
  width: 50%;
  padding: 20px;
  border: 2px solid #3a3939;
  margin-right: 100px;
  margin-bottom: 4px;
  border-radius: 40px;
}

.curriculum .curriculum__boxcv .textocurriculum button {
  position: absolute;
  top: 520px;
  left: 350px;
  width: 220px;
  height: 40px;
  border-radius: 30px;
  padding-bottom: 0px;
  border: 1px solid #2a2a2a;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  background-color: #e1b986;
}

.curriculum .curriculum__boxcv .textocurriculum button:hover {
  background-color: #e18686;
}

.formulariocontacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: whitesmoke;
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.formulariocontacto .tituloscontacto {
  display: inline-block;
  width: 60%;
  margin-top: 100px;
}

.formulariocontacto .tituloscontacto h2 {
  font-size: 25px;
  color: black;
}

.formulariocontacto .tituloscontacto h3 {
  font-size: 20px;
  color: grey;
}

.formulariocontacto .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-top: 40px;
}

.formulariocontacto .formulario input {
  border-radius: 20px;
  width: 400px;
  text-align: left;
  font-size: 15px;
  padding: 10px;
  background-color: whitesmoke;
}

.formulariocontacto .formulario button {
  position: relative;
  top: -10px;
  left: 300px;
  width: 120px;
  height: 40px;
  display: inline;
  border-radius: 30px;
  padding-bottom: 0px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  opacity: 80%;
  background-color: #e1b986;
}

.formulariocontacto .formulario button:hover {
  background-color: orange;
  border: 2px solid black;
}
/*# sourceMappingURL=styles.css.map */