@import "./responsive";

html,
body {
  margin: 0;
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}
.nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width:100vw;
    height:80px;
    box-shadow: 0 4px 2px -2px gray;
    &__logo {
        position: relative;
        display: flex;
        flex:1;
        height: 70px;
        padding: 0;
        top: 5px;
        left:40px;
    }
    &__items{
        position: relative;
        right: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 10px;
        background-color: whitesmoke;
        bottom: 0px;
        & .items{
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            color: black;
            background-color: whitesmoke;
            padding: 20px;
            opacity: 70%;
        }
    }
    &__button {
        position: fixed;
        top: 10px;
        right: 50px;
        width: 150px;
        height: 40px;
        display: inline;
        border-radius: 30px;
        padding-top: 20px;
        border: 1px solid rgb(214, 145, 7);
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        opacity: 80%;
        text-decoration: none;
        box-shadow: 0 4px 2px -2px gray;
        background-color: rgb(235, 178, 22);

        &:hover {
            background-color: rgba(255, 179, 0, 0.891);
            border: 2px solid grey;

        }
    }
    

}
.portada{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    align-items: center;
    &__textos{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        h1{
            display: flex;
            color: black;
            font-size: 40px;
            }
        h3{
            display: flex;
            color: grey
        }

    }
    &__imagen {
        display: flex;
        width: 400px;
        height: 400px;
                   
        }
        
        
        
    
    
    
}
.scrollicon__bounce1 {
    position: fixed;
    width: 90px;
    bottom: 20px;
    right: 20px;
    max-inline-size: 100%;
    min-block-size: var(--tds-icon--size);
    min-inline-size: var(--tds-icon--size);    
}
.servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    justify-content: center;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    gap: 20px;

    .titulos {
        position: flex;
        width: 100vw;
        height: 20px;
        text-align: center;
        padding-top: 50px;
        h2 {
            font-size: 50px;

        }
    }
    &__fsd{
        display: flex;
        flex-direction: row;
        border-radius: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        width: 220px;
        height: 200px;
        background: linear-gradient(-45deg, #000000, #e7a03c, #8bd523, #d5234f);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        img {
            position: relative;
            top: 20px;
            width: 100px;
            height: 100px;
            opacity: 100%;
        }
        h5 {
            font-size: 16px;
            margin-bottom: 0px;
            color: white;
            text-align: center;
        }
        p {
            font-size: 12px;
            text-align: center;
            color: white;

        }
    }
    &__uxdesign{
        display: flex;
        border-radius: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        width: 220px;
        height: 200px;
        background: linear-gradient(-45deg, #393939, #5b3ce7, #d523cf, #cfd523);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        img {
            position: relative;
            top:20px; 
            width: 100px;
            height: 100px;
        }
        h5 {
            font-size: 16px;
            margin-bottom: 0px;
            color: white;

        }
        p {
            font-size: 12px;
            color: white;
            text-align: center;

        }
    }
    &__video{
        display: flex;
        border-radius: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        width: 220px;
        height: 200px;
        background: linear-gradient(-45deg, #ee7752, #ab3ce7, #23d5ba, #23d526);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        img {
            position: relative;
            top: 20px;
            width: 100px;
            height: 100px;
        }
        h5 {
            font-size: 16px;
            margin-bottom: 0px;
            color: white;

        }
        p {
            font-size: 12px;
            color: white;
            text-align: center;

        }
    }
    &__account{
        display: flex;
        border-radius: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        width: 220px;
        height: 200px;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        img {
            position:relative; 
            top:30px;
            padding-bottom: 10px;
            width: 100px;
        }
        h5 {
            font-size: 16px;
            margin-bottom: 0px;
            color: white;

        }
        p {
            font-size: 12px;
            color: white;
            text-align: center;

        }
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
.misproyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    justify-content: space-around;
    gap: 20px;
    width: 100vw;
    height: 800px;
    .titulos {
        position: flex;
        width: 100vw;
        height: 20px;
        text-align: center;
        padding-top: 50px;
        margin-bottom:100px;
        h2 {
            font-size: 50px;
        }
    }
    .card {
        position: relative;
        width: 220px; height: 200px;
        perspective: 30rem;
        display: flex;
        justify-content: space-between;
        padding: 0px;
        animation: gradient 15s ease infinite;
        .front, .back {
            position: absolute;
            width: 100%; height: 100%;
            transition: transform 1s;
            backface-visibility:hidden;
            border-radius: 20px;
          }
          .front { 
            background-color: whitesmoke;
            .tarjeta {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 30px;
            }
          }
          .back { 
            background-color: rgba(137, 109, 109, 0.891); 
            transform: rotateY(180deg); 
            h5 {
                font-size: 16px;
                margin-bottom: 10px;
                color: white;
                text-align: center;        
            }
            p {
                font-size: 10px;
                color: white;
                text-align: center;
                padding: 10px;        
            }
          }
    }
    .card:hover .front{ transform: rotateY(180deg); }
    .card:hover .back { transform: rotateY(360deg); }


}
.curriculum {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    height: 800px;

    .titulos {
        position: flex;
        width: 100vw;
        height: 20px;
        text-align: center;
        padding-top: 50px;
        margin-bottom:100px;
        h2 {
            font-size: 50px;
        }
    }
    .curriculum__boxcv{
        display: flex;
        flex-direction: row;
        .fotocurriculum {
            position: relative;
            display: inline;
            justify-content: flex-start;
            text-align: center;
            background-color: whitesmoke;
            width: 50%;
            img {
                margin-left: 310px;
                margin-top: 85px;
                opacity: 80%;
            }
    
        }
        .textocurriculum {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: flex-start;
            background-color: white;
            font-size: 12px;
            width: 50%;
            padding: 20px;
            border: 2px solid rgb(58, 57, 57);
            margin-right: 100px;
            margin-bottom: 4px;
            border-radius: 40px;
            button {
                position: absolute;
                top: 580px;
                left: 350px;
                width: 220px;
                height: 40px;
                border-radius: 30px;
                padding-bottom: 0px;
                border: 1px solid rgb(42, 42, 42);
                cursor: pointer;
                font-size: 18px;
                text-align: center;
                background-color: rgb(225, 185, 134);
                &:hover {
                    background-color: rgb(225, 134, 134);
                }

            }

        }

    }
    
}
.formulariocontacto {
    display: flex;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    text-align: center;
    .tituloscontacto {
        display: inline-block;
        width: 60%;
        margin-top: 100px;
        h2 {
            font-size: 25px;
            color: black
        }
        h3 {
            font-size: 20px;
            color: grey;
        }

    }
    .formulario {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 40px;
        input {
            border-radius: 20px;
            width:400px;
            text-align: left;
            font-size: 15px;
            padding: 10px;
            background-color: whitesmoke;
        }
        button {
            position: relative;
            top: -10px;
            left: 300px;
            width: 120px;
            height: 40px;
            display: inline;
            border-radius: 30px;
            padding-bottom: 0px;
            border: 1px solid black;
            cursor: pointer;
            font-size: 18px;
            text-align: center;
            opacity: 80%;
            background-color: rgb(225, 185, 134);
            &:hover {
                background-color: orange;
                border: 2px solid black;
            }
        }
    }
}