html,
body {
  margin: 0;
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: whitesmoke;
  width: 100vw;
  height: 80px;
  -webkit-box-shadow: 0 4px 2px -2px gray;
          box-shadow: 0 4px 2px -2px gray;
}

.nav__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 70px;
  padding: 0;
  top: 5px;
  left: 40px;
}

.nav__items {
  position: relative;
  right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: whitesmoke;
  bottom: 0px;
}

.nav__items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  padding: 20px;
  opacity: 70%;
}

.nav__button {
  position: fixed;
  top: 10px;
  right: 50px;
  width: 150px;
  height: 40px;
  display: inline;
  border-radius: 30px;
  padding-top: 20px;
  border: 1px solid #d69107;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  opacity: 80%;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 2px -2px gray;
          box-shadow: 0 4px 2px -2px gray;
  background-color: #ebb216;
}

.nav__button:hover {
  background-color: rgba(255, 179, 0, 0.891);
  border: 2px solid grey;
}

.portada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portada__textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

.portada__textos h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-size: 40px;
}

.portada__textos h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
}

.portada__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
}

.scrollicon__bounce1 {
  position: fixed;
  width: 90px;
  bottom: 60px;
  right: 20px;
  max-inline-size: 100%;
  min-block-size: var(--tds-icon--size);
  min-inline-size: var(--tds-icon--size);
}

.servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: whitesmoke;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  gap: 20px;
}

.servicios .titulos {
  position: flex;
  width: 100vw;
  height: 20px;
  text-align: center;
  padding-top: 50px;
}

.servicios .titulos h2 {
  font-size: 50px;
}

.servicios__fsd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 220px;
  height: 200px;
  background: linear-gradient(-45deg, #000000, #e7a03c, #8bd523, #d5234f);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

.servicios__fsd img {
  position: relative;
  top: 20px;
  width: 100px;
  height: 100px;
  opacity: 100%;
}

.servicios__fsd h5 {
  font-size: 16px;
  margin-bottom: 0px;
  color: white;
  text-align: center;
}

.servicios__fsd p {
  font-size: 12px;
  text-align: center;
  color: white;
}

.servicios__uxdesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 220px;
  height: 200px;
  background: linear-gradient(-45deg, #393939, #5b3ce7, #d523cf, #cfd523);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

.servicios__uxdesign img {
  position: relative;
  top: 20px;
  width: 100px;
  height: 100px;
}

.servicios__uxdesign h5 {
  font-size: 16px;
  margin-bottom: 0px;
  color: white;
}

.servicios__uxdesign p {
  font-size: 12px;
  color: white;
  text-align: center;
}

.servicios__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 220px;
  height: 200px;
  background: linear-gradient(-45deg, #ee7752, #ab3ce7, #23d5ba, #23d526);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

.servicios__video img {
  position: relative;
  top: 20px;
  width: 100px;
  height: 100px;
}

.servicios__video h5 {
  font-size: 16px;
  margin-bottom: 0px;
  color: white;
}

.servicios__video p {
  font-size: 12px;
  color: white;
  text-align: center;
}

.servicios__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 220px;
  height: 200px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

.servicios__account img {
  position: relative;
  top: 30px;
  padding-bottom: 10px;
  width: 100px;
}

.servicios__account h5 {
  font-size: 16px;
  margin-bottom: 0px;
  color: white;
}

.servicios__account p {
  font-size: 12px;
  color: white;
  text-align: center;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.misproyectos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: whitesmoke;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  width: 100vw;
  height: 800px;
}

.misproyectos .titulos {
  position: flex;
  width: 100vw;
  height: 20px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.misproyectos .titulos h2 {
  font-size: 50px;
}

.misproyectos .card {
  position: relative;
  width: 220px;
  height: 200px;
  -webkit-perspective: 30rem;
          perspective: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

.misproyectos .card .front, .misproyectos .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 20px;
}

.misproyectos .card .front {
  background-color: whitesmoke;
}

.misproyectos .card .front .tarjeta {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.misproyectos .card .back {
  background-color: rgba(137, 109, 109, 0.891);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.misproyectos .card .back h5 {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.misproyectos .card .back p {
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 10px;
}

.misproyectos .card:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.misproyectos .card:hover .back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.curriculum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: whitesmoke;
  width: 100vw;
  height: 900px;
}

.curriculum .titulos {
  position: flex;
  width: 100vw;
  height: 20px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.curriculum .titulos h2 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.curriculum .curriculum__boxcv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.curriculum .curriculum__boxcv .fotocurriculum {
  position: relative;
  display: inline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  background-color: whitesmoke;
  width: 50%;
}

.curriculum .curriculum__boxcv .fotocurriculum img {
  margin-left: 310px;
  margin-top: 85px;
  opacity: 80%;
}

.curriculum .curriculum__boxcv .textocurriculum {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: flex-start;
  background-color: white;
  font-size: 12px;
  width: 50%;
  padding: 20px;
  border: 2px solid #3a3939;
  margin-right: 100px;
  margin-bottom: 4px;
  border-radius: 40px;
}

.curriculum .curriculum__boxcv .textocurriculum button {
  position: absolute;
  top: 580px;
  left: 350px;
  width: 220px;
  height: 40px;
  border-radius: 30px;
  padding-bottom: 0px;
  border: 1px solid #2a2a2a;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  background-color: #e1b986;
}

.curriculum .curriculum__boxcv .textocurriculum button:hover {
  background-color: #e18686;
}

.formulariocontacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: whitesmoke;
  width: 100vw;
  height: 400px;
  text-align: center;
}

.formulariocontacto .tituloscontacto {
  display: inline-block;
  width: 60%;
  margin-top: 100px;
}

.formulariocontacto .tituloscontacto h2 {
  font-size: 25px;
  color: black;
}

.formulariocontacto .tituloscontacto h3 {
  font-size: 20px;
  color: grey;
}

.formulariocontacto .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-top: 40px;
}

.formulariocontacto .formulario input {
  border-radius: 20px;
  width: 400px;
  text-align: left;
  font-size: 15px;
  padding: 10px;
  background-color: whitesmoke;
}

.formulariocontacto .formulario button {
  position: relative;
  top: -10px;
  left: 300px;
  width: 120px;
  height: 40px;
  display: inline;
  border-radius: 30px;
  padding-bottom: 0px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  opacity: 80%;
  background-color: #e1b986;
}

.formulariocontacto .formulario button:hover {
  background-color: orange;
  border: 2px solid black;
}

.footer {
  position: relative;
  bottom: 20px;
  background-color: #353434;
  width: 100vw;
  height: 60px;
  padding-top: 20px;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  top: 5px;
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.footer :hover img {
  cursor: pointer;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -moz-animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
}
/*# sourceMappingURL=styles.css.map */